<div class="row justify-content-center">
  <div class="col-md-6">

    <div class="card shadow-lg border-0 mt-4 p-4 text-center card-verde">

      <h3 class="text-success fw-bold">Matrícula realizada 🎉</h3>

      <p><b>Nome:</b> {{dados?.nome}}</p>
      <p><b>Email:</b> {{dados?.email}}</p>
      <p><b>Idade:</b> {{dados?.idade}}</p>
      <p><b>Genero:</b> {{dados?.genero}}</p>
      <p><b>Cidade:</b> {{dados?.cidade}}</p>

      <a routerLink="/formulario"
         class="btn btn-outline-success mt-3">
        Nova matrícula
      </a>

    </div>

  </div>
</div>