<div class="music-card">

  <img
    [src]="music.album.cover_big"
    [alt]="music.title"
    loading="lazy"
  >

  <div class="content">

    <div class="favorite">

      <button
        class="favorite-btn"
        (click)="toggleFavorite()">

        {{
          favoritesService.isFavorite(music.id)
          ? '❤️'
          : '🤍'
        }}

      </button>

    </div>

    <h3>
      {{ music.title }}
    </h3>

    <div class="music-info">

      <p>
        🎤 {{ music.artist.name }}
      </p>

      <p>
        💿 {{ music.album.title }}
      </p>

    </div>

    <audio
    #audioPlayer
    controls
    controlsList="nodownload"
    preload="none"
    class="w-100"
    (play)="onPlay(audioPlayer)"
    >

      <source
        [src]="music.preview"
        type="audio/mp3"
      >

    </audio>

    <a
      [href]="music.link"
      target="_blank"
      class="btn btn-success w-100">

      <i class="bi bi-play-circle-fill"></i> Ouvir Completa 🎧

    </a>

  </div>

</div>