@if (favoritesService.sidebarOpen) {

  <div
    class="sidebar-overlay"
    (click)="favoritesService.toggleSidebar()">

  </div>

}

<div
  class="sidebar"
  [class.open]="favoritesService.sidebarOpen"
  (click)="$event.stopPropagation()">

  <div class="sidebar-header">

    <h3>

      <i class="bi bi-heart-fill"></i>
      Favoritos

    </h3>

    <button
      class="close-btn"
      (click)="favoritesService.toggleSidebar()">

      <i class="bi bi-x-lg"></i>

    </button>

  </div>

  @if (favoritesService.favorites.length === 0) {

    <div class="empty-state">

      <div class="empty-icon">
        🎵
      </div>

      <h4>
        Nenhuma música favoritada
      </h4>

      <p>
        Adicione músicas aos favoritos
        para vê-las aqui.
      </p>

    </div>

  }

  @for (
    music of favoritesService.favorites;
    track music.id
  ) {

    <div class="favorite-item">

      <img
        [src]="music.album.cover_medium"
        [alt]="music.title"
      >

      <div class="favorite-info">

        <p>{{ music.title }}</p>

        <small>
          🎤 {{ music.artist.name }}
        </small>

      </div>

      <button
        class="remove-btn"
        (click)="favoritesService.removeFavorite(music.id)">

        <i class="bi bi-trash-fill"></i>

      </button>

    </div>

  }

</div>